@font-face {
    font-family: 'Hemenix-Light'; /* 300 */
    src: url('../assets/fonts/Hemenix-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hemenix-Regular'; /* 400 */
    src: url('../assets/fonts/Hemenix-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hemenix-Regular-Italic'; /* 400 i */
    src: url('../assets/fonts/Hemenix-Regular-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hemenix-Medium'; /* 500 i  */
    src: url('../assets/fonts/Hemenix-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Hemenix-Semibold'; /* 600 */
    src: url('../assets/fonts/Hemenix-Semibold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hemenix-Bold'; /* 700 */
    src: url('../assets/fonts/Hemenix-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Hemenix-Black'; /* 900 */
    src: url('../assets/fonts/Hemenix-Black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Hemenix-Regular', sans-serif;
    color: var(--white);
}


.container {
    max-width: 1680px;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
}

.text_heading_2 {
    font-family: 'Hemenix-Bold', sans-serif;
    font-size: 64px;
    line-height: 1.2;
}


.text_body {
    font-family: 'Hemenix-Medium', sans-serif;
    font-size: 24px;
    line-height: 1.5;
    color: rgba(var(--text_dark_rgb), 0.8);
}



@media (max-width: 900px) {
    .container {
        width: calc(100% - 24px);
    }

    .text_heading_2 {
        font-size: 32px;
        line-height: 1.2;
        text-align: center;
    }

    .text_body {
       display: none;
    }
}
