:root {
    --primary_color: #FE6813;
    --background_dark: #2A2A2A;
    --text_light: #F4EBDC;
    --text_dark: #2F2F2F;
    --text_grey: #A9A49B;
    --white: #FFFFFF;


    --border_color: #FF7A01;


}
