.gallery_wrapper {
    padding: 80px 0;
    background-color: #FFFFFF;
    color: var(--background_dark);
}

.gallery_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.gallery_title {
    text-align: center;
}

.gallery_slider {
    width: 100%;
    overflow: hidden;
}

.gallery_track {
    display: flex;
    align-items: center;
    transition: transform 0.5s ease-in-out;
}

.gallery_slide {
    width: 100%;
    flex-shrink: 0;
    padding: 0 12px;
}

.gallery_slide img {
    width: 100%;
    display: block;
}

.gallery_controls {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.gallery_caption {
    text-align: center;
    color: var(--text_dark);
    font-size: 24px;
}

.gallery_button {
    border-radius: 50%;
    border: none;
    background-color: #FDF5E9;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}

.gallery_button:hover {
    transform: scale(1.1);
}

@media (min-width: 768px) {
    .gallery_slide {
        width: 33.333%;
    }
}

@media (min-width: 1024px) {
    .gallery_caption {
        color: var(--text_dark);
        font-size: 24px;
        font-family: 'Hemenix-Regular', sans-serif;
    }
}
